.cardWrapper {
  padding: 1rem;
  border: 2px solid black;
}
.cardContainer {
  padding: 1rem;
  height: 250px;
  background-color: #361500;
  overflow-y: auto;
  word-wrap: break-word;
  color: #cc9544;
}
