@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes miniBarIcon {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
  }
}

@keyframes miniBarLoad {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 50%;
  }
}

.container {
  margin: 0;
  padding: 15px;
  display: flex;
  border-bottom: 1px solid #361500;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.icons {
  padding: 0.3em;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
  color: #361500;
}
.icons:hover {
  background-color: #361500;
  color: white;
  transition: 0.4s all ease-in;
}

.navLinks a {
  padding: 0.8rem;
  font-family: "Poppins";
}

.navLinks a:hover {
  background-color: #361500;
  color: white;
  transition: 400ms all ease-in;
}

.logo {
  font-family: "Coldiac";
  font-size: x-large;
  color: #361500;
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 100ms;
}

.miniContainer {
  padding: 1rem;
  display: none;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.miniContainer button {
  background: none;
  border: none;
  color: #361500;
  font-size: larger;
  cursor: pointer;
  transition: 2s all ease-in;
}

.miniContainer button:focus {
  animation: miniBarIcon 1s ease-in;
}

.miniBarLinks {
  flex-direction: column;
  position: absolute;
  top: 42.5px;
  padding: 1rem;
  width: 50%;
  right: 0;
  overflow: hidden;
  z-index: 100;
  background-color: white;
  list-style: none;
  animation: miniBarLoad 1s ease-in;
}

.miniBarLinks a {
  padding: 0.6rem;
  font-family: "Coldiac";
  color: #361500;
}
.miniBarLinks a:hover {
  background-color: #361500;
  color: white;
  transition: 400ms all ease;
}

@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
  .miniContainer {
    display: flex;
  }
}
